@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #4c4e50;
  background-color: #fff;
  appearance: none;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%239CA3AF'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

.custom-select:focus {
  border-color: #a5b4fc;
  outline: none;
  box-shadow: 0 0 0 2px #e0e7ff;
}

.custom-select option {
  color: #111827;
  background-color: #fff;
  padding: 0.5rem;
}
.custom-select {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #111827;
  background-color: #fff;
  appearance: none;
  box-shadow: none;
  background-image: linear-gradient(to right, #d1d5db 1px, transparent 1px),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%239CA3AF'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 2.5rem center, right 0.75rem center;
  background-size: 1px 50%, 1rem;
}

.custom-select:focus {
  border-color: #a5b4fc;
  outline: none;
  box-shadow: 0 0 0 2px #e0e7ff;
}

.custom-select option {
  color: #111827;
  background-color: #fff;
  padding: 0.5rem;
}

.all-heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
